
*{
    font-family: 'roboto',sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: #f6f8fc;
}

.content{
    padding: 1rem;
    margin: auto;
    background-color:white;
    width: 100vw;
    height: 100vh;
}

h1{
    font-size: 2.5rem;
    margin-left: 15px;
}

.pokemons {
    display: grid;
    grid-template-columns: 1fr;
    margin: 0;
    padding: 0;
    list-style: none;
}

.normal {
    background-color: #d4a373;
    
}

.grass {
    background-color: #87c38f;
   
}

.fire {
    background-color: #e5383b;
  
}

.water {
    background-color: #a2d2ff;

}

.electric {
    background-color: #ffee32;
    
}

.ice {
    background-color: #bde0fe;
   
}

.ground {
    background-color: #99582a;
    
}

.flying {
    background-color: #cce3de;
   
}

.poison {
    background-color: #cdb4db;
    
}

.fighting {
    background-color: #bb9457;
    
}

.psychic {
    background-color: #ffafcc;
    
}

.dark {
    background-color: #1b263b;

}

.rock {
    background-color: #f6bd60;

}

.bug {
    background-color: #a8b720;
    
}

.ghost {
    background-color: #6e5896;

}

.steel {
    background-color: #e5e5e5;
    
}

.dragon {
    background-color: #9a031e;

}

.fairy {
    background-color: #ffc8dd;
  
}

.pokemon{
    display: flex;
    flex-direction:column;
    margin: .5rem;
    padding: 1rem;
    background-color: #2bc38e;
    color: white;
    border-radius: 1rem;
}

.pokemon .detail {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.pokemon .detail .types{
    list-style: none;
}

.pokemon .detail .types .type{
    background-color: rgba(127, 255, 212, 0.732);
    color: white;
    padding: 0.35rem;
    margin-top: 0.5rem;
    border-radius: 20px;
    font-size: 14px;
    text-align: center;
    filter: brightness(1.1);
}

.pokemon .detail img{
    max-width: 100%;
    height: 80px;
    align-self: flex-end;
}

.pokemon .name{
    font-size: 1.5rem;
    text-transform: capitalize;
}

.pokemon .number{
    color: black;
    opacity: 0.3;
    text-align: right;
    margin: 0;
}

.pagination{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1rem;
}

.pagination button{
    background-color: #6e5896;
    border: none;
    color: white;
    padding: 0.50rem;
    margin-top: 0.5rem;
    border-radius: 20px;
    font-size: 14px;
}


@media screen  and (min-width: 418px){
    .pokemons{
        display: grid;
        grid-template-columns: 1fr;
    }
}

@media screen and (min-width: 768px) {
    .pokemons{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 912px) {
    .pokemons{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
}